{% extends './base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block app %}
    <h1>エントリー者一覧

    </h1>
<h6 style="color:#0000ff">{{msg}}</h6>
<p>参加者:{{count}}名</p>
    <table class="table table-striped table table-bordered">
        <thead  class="table-dark" align="center">
            <tr valign="middle">
                <th>No.</th>
                <th>ユーザーID</th>
                <th>ユーザーネーム</th>
            </tr>
        </thead>
        <tbody align="center">
            <!-- count件(行)数分をループ -->
            {% for plaier in entryinfo %}
            <tr>
                <!-- 4列分ユーザ情報を出力 -->
                <th>{{forloop.counter}}</th>
                <td>{{plaier.userID}}</td>
                <td>{{plaier.username}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}