{% extends './base.html' %}
{% load bootstrap4 %}
 
{% block app %}
<h1>{{battledata.userID1}}さんは{{battledata.userID2}}さんに</h1>
<!-- テーブル -->
    <tbody align="center">
        <!-- count件(行)数分をループ -->
        <tr>
            <!-- 4列分ユーザ情報を出力 --><p>
            <form action='{% url "syouriData" battledata.battleID %}' method='post' class='form'>
                <!-- ユーザー編集フォームを表示 -->
                {% csrf_token %}
                <button type='submit' name='button1' class='btn btn-outline-primary'>勝利</button>
                <button type='submit' name='button2' class='btn btn-outline-primary'>敗北</button>
            </form>
        </p>
        </tr>
    </tbody>
        <footer class="fixed-bottom">           
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
            <a class="nav-link active" href="{% url "showUsers" %}">ホーム <span class="sr-only">(現位置)</span></a>
          </div>
        </div>
      </nav>
    </div>
</footer>
{% endblock %}